.full-screen {
  background-color: #7aa5d2;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  color: white;
  font-family: 'Arial Black';
  text-align: center;
}

.container {
  padding-top: 4em;
  display: block;
  margin: 0 auto;
}

.error-num {
	font-size: 8em;
}

.eye {
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  height: 6.3rem;
  position: relative;
  width: 6.3rem;
}

.eye::after {
  background: #000;
  border-radius: 50%;
  bottom: 3.8rem;
  content: ' ';
  height: 2rem;
  position: absolute;
  right: 2rem;
  width: 2rem;
}

.italic {
	font-style: italic;
}

p {
	margin-bottom: 4em;
}

a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

a:hover {
	color: lightgray;
}
