<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- header -->
<th:block th:replace="fragments/listHeader :: listHeaderFragment"></th:block>
<body id="page-top">
	<div id="wrapper">
		<!-- side bar -->
		<th:block th:replace="fragments/sidebar :: sidebarFragment"></th:block>
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<!-- top bar -->
				<th:block th:replace="fragments/topbar :: topbarFragment"></th:block>
				<!-- content -->
				<th:block layout:fragment="content"></th:block>
			</div>
			<!-- footer -->
			<th:block th:replace="fragments/footer :: footerFragment"></th:block>
		</div>
	</div>
	<!-- Script -->
	<th:block th:replace="fragments/listScript :: listScriptFragment"></th:block>
</body>
</html>
