<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout:decorator="home">
<body>
	<div class="container-fluid">
		<div class="card shadow mb-4">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>Nr.</th>
								<th>Title</th>
								<th>Content</th>
								<th>Category</th>
								<th>Date</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="post : ${posts}">
								<td><span th:text="${post.id}"></span></td>
								<td><span th:text="${post.title}"></span></td>
								<td><span th:text="${post.content}"></span></td>
								<td><span th:text="${post.category}"></span></td>
								<td><span th:text="${post.created_date}"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
