<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">
<th:block layout:fragment="content">
	<div class="container-fluid">
		<div class="card shadow mb-4">
            <div class="card-body">
            <a href="/posts/new" class="btn btn-primary"><span>new</span></a>
            	<div class="table-responsive">
            		<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>작성자</th>
								<th>제목</th>
								<th>카테고리</th>
								<th>작성날짜</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="post : ${posts}">
								<td><span th:text="${post.user.username}"></span></td>
								<td><a href="" th:href="@{/posts/{id} (id=${post.id})}"><span th:text="${post.title}"></span></a></td>
								<td><span th:text="${post.category}"></span></td>
								<td><span th:text="${post.createdDate}"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>	
	</div>
</th:block>
</html>

