<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/profile">
<th:block layout:fragment="content">
	<div class="container-fluid">
		<!-- Page Wrapper -->
		<div id="wrapper">
			<!-- Content Wrapper -->
			<div id="content-wrapper" class="d-flex flex-column">
				<!-- Main Content -->
				<div id="content">
					<!-- Begin Page Content -->
					<div class="container-fluid">
						<div class="d-sm-flex align-items-center justify-content-between mb-4">
							<h1 class="h3 mb-0 text-gray-800" th:text="${bean.title}"></h1>
						</div>
						<div class="row">
							<div class="col-xl-3 col-md-6 mb-4">
								<div class="card border-left-warning shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<div class="text-xs font-weight-bold text-warning text-uppercase mb-1" th:text="${bean.myPostCount}"></div>
												<div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${bean.postCount}"></div>
											</div>
											<div class="col-auto">
												<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-md-6 mb-4">
								<div class="card border-left-danger shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<div class="text-xs font-weight-bold text-danger text-uppercase mb-1" th:text="${bean.myPostLikeCount}"></div>
												<div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${bean.postLikeCount}"></div>
											</div>
											<div class="col-auto">
												<i class="fas fa-thumbs-up fa-2x text-gray-300"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-md-6 mb-4">
								<div class="card border-left-secondary shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<div class="text-xs font-weight-bold text-secondary text-uppercase mb-1" th:text="${bean.myCommentCount}"></div>
												<div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${bean.commentCount}"></div>
											</div>
											<div class="col-auto">
												<i class="fas fa-comments fa-2x text-gray-300"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-md-6 mb-4">
								<div class="card border-left-info shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<div class="text-xs font-weight-bold text-info text-uppercase mb-1" th:text="${bean.myCommentLikeCount}"></div>
												<div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${bean.commentLikeCount}"></div>
											</div>
											<div class="col-auto">
												<i class="fas fa-heart fa-2x text-gray-300"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<hr>
						<div class="d-sm-flex align-items-center justify-content-between mb-4">
							<h1 class="h3 mt-1 mb-1 text-gray-800" th:text="${bean.modifyUserInfo}"></h1>
						</div>
						<div class="row">
							<div class="col-lg-12 mb-3">
								<div class="card">
									<div class="card border-left-light shadow h-100 py-2">
										<div class="card-body">
											<form id="form" th:action="@{/user/profile}" th:object="${userForm}" method="post">
												<input type="hidden" id="id" name="id" th:field="*{id}" />
												<input type="hidden" id="username" name="username" th:field="*{username}" />
												<table class="table">
													<tbody>
														<tr>
															<th class="h5 mb-0 font-weight-bold text-gray-800 first-col" scope="row" th:text=${bean.username}></th>
															<td class="second-col" th:text="${bean.user.username}"></td>
															<td rowspan="6" class="third-col"><img th:src="@{/img/profile.jpeg}" class="profile-img" alt="Profile"/></td>
														</tr>
														<tr>
															<th class="h5 mb-0 font-weight-bold text-gray-800" scope="row" th:text=${bean.password}></th>
															<td><input type="password" class="form-control input-sm" th:attr="placeholder=${bean.password}" th:field="*{password}" /></td>
														</tr>
														<tr>
															<th class="h5 mb-0 font-weight-bold text-gray-800" scope="row" th:text="${bean.email}"></th>
															<td><input id="email" type="email" class="form-control input-sm" placeholder="Email" th:attr="placeholder=${bean.email}" th:field="*{email}" th:value="${email}" required /></td>
														</tr>
														<tr>
															<th class="h5 mb-0 font-weight-bold text-gray-800" scope="row" th:text="${bean.languageStatus}"></th>
															<td>
																<div class="custom-control custom-radio custom-control-inline">
																	<div th:each="model : ${T(com.bundesreport.type.LanguageStatus).values()}">
																		<div class="custom-control custom-radio custom-control-inline">
																			<input type="radio" th:field="*{languageStatus}" th:value="${model}" class="custom-control-input" required>
																			<label class="custom-control-label"	th:for="${#ids.prev('languageStatus')}" th:text="${model}"></label>
																		</div>
																	</div>
																</div>
															</td>
														</tr>
														<tr>
															<div id="feedback"></div>
														</tr>
														<tr>
															<th></th>
															<td class="text-right">
																<a class="btn btn-outline-danger mr-2 mb-2" data-toggle="modal" data-target="#userDeleteModal" role="button"><span th:text="${bean.withdrawal}"></span></a>
																<div class="modal fade" id="userDeleteModal" tabindex="-1" role="dialog" aria-labelledby="#userDeleteModalLabel">
																	<div class="modal-dialog modal-dialog-centered">
																		<div class="modal-content">
																			<div class="modal-header">
																				<h5 class="modal-title" id="staticBackdropLabel" th:text="${bean.confirmTitle}"></h5>
																				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																					<span aria-hidden="true">&times;</span>
																				</button>
																			</div>
																			<div class="modal-body text-left">
																				<span th:text="${bean.confirmContent}"></span>
																			</div>
																			<div class="modal-footer">
																				<a type="button" class="btn btn-secondary" data-dismiss="modal" th:text="${bean.confirmCancel}"></a>
																				<a href="/user/withdrawal" type="button" class="btn btn-info" th:text="${bean.confirmApply}"></a>
																			</div>
																		</div>
																	</div>
																</div>
																<input type="submit" name="btnSave" id="btnSave" class="btn btn-success mb-2" th:value="${bean.save}" />
															</td>
														</tr>
													</tbody>
												</table>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>
