<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="presentationHeaderFragment">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,  shrink-to-fit=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>BundesReport</title>
		<!-- Fonts -->
		<link rel="stylesheet" type="text/css" th:href="@{/css/font.css}" />
		<!-- Statics -->
		<link rel="stylesheet" type="text/css" th:href="@{/vendor/fontawesome-free/css/all.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/sb-admin-2.css}" />
		<!-- Presentation -->
		<link rel="stylesheet" type="text/css" th:href="@{/css/docSlider.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/presentation.css}" />
		<!-- CSRF -->
		<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
		<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
	</head>
</th:block>
</html>
