<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="profileHeaderFragment">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>BundesReport</title>
		<!-- Fonts -->
		<link rel="stylesheet" type="text/css" th:href="@{/css/font.css}" />
		<!-- Statics -->
		<link rel="stylesheet" type="text/css" th:href="@{/vendor/fontawesome-free/css/all.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/sb-admin-2.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}" />
		<!-- Profile -->
		<link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}" />
		<!-- CSRF -->
		<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
		<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
	</head>
</th:block>
</html>
