<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sidebarFragment">
	<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
			<a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
				<div class="sidebar-brand-icon rotate-n-15">
					<i class="fas fa-laugh-wink"></i>
				</div>
				<div class="sidebar-brand-text mx-3" style="font-family: 'Amatic SC', cursive; font-size:34px;" th:text="${sidebar.title}"></div>
			</a>

			<hr class="sidebar-divider" />

			<div class="sidebar-heading" th:text="${sidebar.menu}"></div>
			<!-- Nav Item - Pages Collapse Menu -->
			<li class="nav-item">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
					<i class="far fa-clipboard"></i><span th:text=${sidebar.board}></span>
				</a>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" href="#"><span th:text="${sidebar.freeBoard}"></span></a>
						<a class="collapse-item" href="#"><span th:text="${sidebar.abroadBoard}"></span></a>
						<a class="collapse-item" href="#"><span th:text="${sidebar.livingQA}"></span></a>
						<a class="collapse-item" href="#"><span th:text="${sidebar.fleaMarket}"></span></a>
						<a class="collapse-item" href="#"><span th:text="${sidebar.jobSearch}"></span></a>
						<a class="collapse-item" href="#"><span th:text="${sidebar.club}"></span></a>
						<a class="collapse-item" href="#"><span th:text="${sidebar.eventNotification}"></span></a>
						<a class="collapse-item" href="#"><span th:text="${sidebar.recipe}"></span></a>
						<a class="collapse-item" href="#"><span th:text="${sidebar.gallery}"></span></a>
					</div>
				</div>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- Heading -->
			<div class="sidebar-heading">추가 메뉴</div>

			<!-- Nav Item - Charts -->
			<li class="nav-item">
				<a class="nav-link" href="#">
					<i class="fas fa-fw fa-chart-area"></i><span>향후 추가</span>
				</a>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider d-none d-md-block">

			<!-- Sidebar Toggler (Sidebar) -->
			<div class="text-center d-none d-md-inline">
				<button class="rounded-circle border-0" id="sidebarToggle"></button>
			</div>
		</ul>
	</ul>
</th:block>
</html>
