<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:fragment="topbarFragment">
	<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
		<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
			<i class="fa fa-bars"></i>
		</button>

		<ul class="navbar-nav ml-auto">
			<!-- Messages -->
			<li class="nav-item dropdown no-arrow mx-1" th:if="${topbar.user} != null">
				<a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fas fa-envelope fa-fw"></i>
					<!-- ToDo: Use Note Data -->
					<span class="badge badge-danger badge-counter" th:text="${topbar.messageCount}" th:if="${topbar.messageCount} > 0"></span>
				</a>
				<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
					<h6 class="dropdown-header" th:text=${topbar.messageCenter}></h6>
					<a class="dropdown-item d-flex align-items-center" th:href="@{/note/{id} (id=${note.id})}" th:each="note: ${topbar.messages}">
						<!-- ToDo: Already Read -->
						<div class="font-weight-bold">
							<div class="text-truncate" th:text=${note.content}></div>
							<div class="small text-gray-500" th:text="${note.sender.username}"></div>
						</div>
					</a>
					<a class="dropdown-item text-center small text-gray-500" href="/note/list"><span th:text="${topbar.readMore}"></span></a>
				</div>
			</li>

			<div class="topbar-divider d-none d-sm-block"></div>

			<div class="" th:if="${topbar.user} == null">
				<a class="btn btn-dark" href="/signin" role="button"><span th:text="${topbar.signin}"></span></a>
				<a class="btn btn-outline-dark" href="/signup" role="button"><span th:text="${topbar.signup}"></span></a>
			</div>
			<!-- User Information -->
			<li class="nav-item dropdown no-arrow" th:if="${topbar.user} != null">
				<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${topbar.user.username}"></span>
				</a>
				<!-- Dropdown - User Information -->
				<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
					<a class="dropdown-item" href="/user/profile">
						<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> <span th:text="${topbar.profile}"></span>
					</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/signout">
						<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> <span th:text="${topbar.signout}"></span>
					</a>
				</div>
			</li>
		</ul>
	</nav>
</th:block>
</html>
