<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>BundesReport - 500</title>
<link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
<link type="text/css" rel="stylesheet" th:href="@{/css/error/error.css}" />
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/js/error.js}"></script>
</head>
<body>
	<div class="full-screen">
        <div class='container'>
            <span class="error-num">4</span>
            <div class='eye'></div>
            <span class="error-num">4</span>
            <p class="sub-text">Oh eyeballs! Something went wrong. We're <span class="italic">looking</span> to see what happened.</p>
            <a href="/">Go back</a>
        </div>
    </div>
</body>
</html>
