.post-view-title{
	font-size: 2rem;
	width:1%;
	white-space: nowrap;
}

.view-count{
	vertical-align: bottom !important;
}

.table-bordered th, .table-bordered td{
	border: none !important;
}

.table th, .table td{
	border: none !important;
	padding-top: 0 !important;
}

.created-user{
	width: 1%;
	white-space: nowrap;
	padding-right: 0px !important;
}

.message-to-user{
	color: #858796;
}

.message-to-user:hover{
	color: #474850;
}

.user-comment{
	border: none !important;
}

.form-control{
	background: none !important;
}

.comment-entered{
	border: none !important;
}
